[Unit]
Description=energymeter

[Service]
User=root
WorkingDirectory=/opt/utilitymeters
ExecStart=/opt/utilitymeters/.venv/bin/python3 energymeter.py
Restart=always
RuntimeMaxSec=1d

[Install]
WantedBy=multi-user.target

